[Desktop Entry]
Name=Secapp Manager
Comment=Secapp Manager application
Exec=secapp-manager
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
